{% extends 'base.html' %}

{% block title %}增加订单信息{% endblock %}

{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                {% if user.is_authenticated %}
                    <div class="panel panel-default" style="margin-top: 2em">
                        <div class="panel-heading">
                            <h3 class="panel-title">增加</h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in orderappendform %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span class="text-danger">{{ login_form.non_field_errors }}</span>
                                <div class="clearfix"></div>
                                <input type="button" value="取消" class="btn btn-primary pull-left">
                                <input type="submit" value="提交" class="btn btn-primary pull-right">
                            </form>
                        </div>
                    </div>
                {% else %}
                    <script type="text/javascript">
                        window.location.href = '/';
                    </script>
                {% endif %}              
            </div>
        </div>
    </div>    
{% endblock %}