{% extends 'base.html' %}

{% block title %}全体员工{% endblock %}
{% if user.is_authenticated %}
                    {% if user_get_staff_type == '经理' %}
                        {% block nav_attendence_active %}active{% endblock %}
                    {% else %}
                        {% block nav_attendence1_active %}active{% endblock %}
                    {% endif %}
{% endif %}
{% block content %}

    <div class="containter">
        <div class="row">

            <div class="col-xs-10 col-xs-offset-1">
                {% if user.is_authenticated %}
                <table class="table table-bordered table-hover">
                    <a href="{% url 'attendence_append' %}">新增考勤</a>
                    <span style="margin-left: 1em"><a href="{% url 'attendence_select' %}">查找</a></span>
                  <thead>
                    <tr>
                      <th scope="col">日期</th>
                      <th scope="col">姓名</th>
                      <th scope="col">请假</th>
                      <th scope="col">出差</th>
                      <th scope="col">上班时间</th>
                       <th scope="col">下班时间</th>
                      <th scope="col">补充</th>
                        <th scope="col">修改</th>
                      <th scope="col">删除</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for attendence_list in attendence_lists%}
                    <tr>
                      <td>{{attendence_list.current_time}}</td>
                      <td>{{attendence_list.staff_name}}</td>
                        {% if  attendence_list.flag_leave == True%}
                        <td>是</td>
                        {% else %}
                        <td>否</td>
                        {%endif%}
                        {% if  attendence_list.flag_business == True%}
                        <td>是</td>
                        {% else %}
                        <td>否</td>
                        {%endif%}
                      <td>{{attendence_list.start_time}}</td>
                      <td>{{attendence_list.end_time}}</td>
                      <td>{{attendence_list.supplement}}</td>
                        <td><a href="{% url 'attendence_modify' attendence_list.pk%}">修改</a></td>
                      <td><a href="{% url 'attendence_delete' attendence_list.pk%}">删除</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% else %}
                    <span>未登录，跳转到首页...</span>
                    <script type="text/javascript">
                        window.location.href = '/';
                    </script>
                {% endif %}
            </div>
        </div>
    </div>    
{% endblock %}